name: telemedicine_app

description: A telemedicine application.

version: 1.0.0+1
environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.3.4 
  provider: ^6.0.0
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.2.2
  go_router: ^17.0.0
  http: ^1.6.0
  intl: ^0.20.2
  flutter_localizations:
    sdk: flutter
  url_launcher: ^6.2.5
  permission_handler: ^12.0.1
  google_sign_in: ^7.2.0
  googleapis: ^15.0.0
  googleapis_auth: ^2.0.0
  bcrypt: ^1.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true

flutter_intl:
  enabled: true
  class_name: S
  main_locale: en
  arb_dir: lib/l10n
  output_dir: lib/generated